<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.huberstyle.DeVryAndroidScheduler"
      android:versionCode="0"
      android:versionName=".1">
    <uses-sdk android:minSdkVersion="7" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".DeVryAndroidScheduler">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		 <activity android:name=".Professors"/>
		 <activity android:name=".Departments"/>
		 <activity android:name=".Courses"/>
		 <activity android:name=".Classes"/>
    	 <activity android:name=".CourseDetail"/>
    </application>
	<uses-permission android:name="android.permission.INTERNET" />  
</manifest>